@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --color-default: #fff;
  }
  @media (prefers-color-scheme: dark){
      :root{
          --color-default: #252b30;
      }
  }
  [data-theme='dark'] {
    --color-default: #252b30;
    color: white;
  }
  [data-theme='white'] {
    --color-default: white;
    color: black;
  }
  body {
      background-color: var(--color-default);
      min-height: 100vh;
  }

  input, textarea {
    color: white;
  }

  
.button-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 20px;
}
.button-container button {
    transition: background-color 0.5s;
}
    
.button-container button:hover {
    background-color: darkblue;
}

.lower-content {
    margin-top: 130px;
}
.lower-content a {
    text-decoration: none;
    transition: background-color 0.5s;
}

.lower-content a:hover {
    background-color: darkblue;
}
.main-button {
    display: flex;
    justify-content: left;
    margin-bottom: 1px;
    padding: 2px 2px;
}

.main-button button {
    transition: background-color 0.5s;
}

.main-button button:hover {
    background-color: darkblue;
}

.login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  